[submodule "aescrypt_engine"]
	path = aescrypt_engine
	url = https://github.com/terrapane/aescrypt_engine.git
[submodule "androidcrypt-conio"]
	path = androidcrypt-conio
	url = git@github.com:ndew623/androidcrypt-conio.git
[submodule "androidcrypt-aescrypt_engine"]
	path = androidcrypt-aescrypt_engine
	url = git@github.com:ndew623/androidcrypt-aescrypt_engine.git
[submodule "androidcrypt-libkdf"]
	path = androidcrypt-libkdf
	url = git@github.com:ndew623/androidcrypt-libkdf.git
[submodule "androidcrypt-logger"]
	path = androidcrypt-logger
	url = git@github.com:ndew623/androidcrypt-logger.git
